{% extends "base.html" %}
{% block content %}
<h3>{{ SITENAME }}的文章归档 <span class="badge new">{{ dates | count }}</span></h3>
<ul class="collection">
{% for article in dates %}
<li class="collection-item">
    <div>
        <a href="{{ SITEURL }}/{{ article.url }}" class="flow-text">{{ article.title }}</a>
        <a href="#!" class="secondary-content">{{ article.locale_date }}</a>
        <hr/>
        {% for author in article.authors %}
        <a href="{{ SITEURL }}/{{ author.url }}"><i class="material-icons md-18">account_box</i> {{ author }}&nbsp;&nbsp;</a>
        {% endfor %}
        {% if article.category != 'Misc' %}
        <a href="{{ SITEURL }}/{{ article.category.url }}"><i class="material-icons md-18">dashboard</i> {{ article.category.name }}&nbsp;&nbsp;</a>
        {% endif %}
        {% if article.tags %}
        <br />
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">
        <div class="chip {{MAIN_COLOR}} accent-4 white-text">
             {{ tag.name }}
         </div>
        </a>
        {% endfor %}
        {% endif %}

    </div>
</li>
{% endfor %}
</ul>
{% endblock %}
