<div class="card {{ARTICLE_BACKGROUND}} {{ARTICLE_BACKGROUND_DECORATOR}} z-depth-2">
    <div class="card-content white-text flow-text">
        <span class="card-title white-text">
            <h4 class="white-text"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="到 {{ article.title|striptags }}的固定链接" class="white-text">{{ article.title }}</a></h4>
        </span>
        {% if SIMPLE %}
            写于 
            {{ article.locale_date }}，
            {% if article.category != 'Misc' %}
            属于 <a class="white-text" href="{{ SITEURL }}/{{ article.category.url }}"> {{ article.category.name }} 分类。</a>
            {% endif %}
            {% if article.tags %}
            <br />
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">
            <div class="chip {{MAIN_COLOR}} accent-4 white-text">
                {{ tag.name }}
            </div>
            </a>
            {% endfor %}
            {% endif %}
            {% else %}
            <i class="material-icons md-18">date_range</i>
            {{ article.locale_date }}
            {% for author in article.authors %}
            <a class="white-text" href="{{ SITEURL }}/{{ author.url }}"><i class="material-icons md-18">account_box</i> {{ author }}&nbsp;&nbsp;</a>
            {% endfor %}
            {% if article.category != 'Misc' %}
            <i class="material-icons md-18">dashboard</i><a class="white-text" href="{{ SITEURL }}/{{ article.category.url }}"> {{ article.category.name }}&nbsp;&nbsp;</a>
            {% endif %}
            {% if article.tags %}
            <br />
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">
            <div class="chip {{MAIN_COLOR}} accent-4 white-text">
                {{ tag.name }}
            </div>
            </a>
            {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    {% if article.modified or article.summary %}
    <div class="card-content {{SECOND_COLOR}} {{SECOND_COLOR_DECORATOR}}" id="summary">
        {% if article.modified %}
        <blockquote>
            这篇文章在{{ article.locale_modified }}更新了呐~
        </blockquote>
        {% endif %}
        {{ article.summary }}
    </div>
    {% endif %}
  </div>
  <hr class="{{ ARTICLE_BACKGROUND }}-text" />
