{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock title %}
{% block metadata %}
{{ super() }}
<meta property="og:title" itemprop="name" content="{{ article.title }} - {{ SITENAME }}">
{% if article.desc %}
<meta property="og:description" itemprop="description" content="{{ article.desc }}">
{% endif %}
<meta property="og:url" itemprop="url" content="{{ SITEURL }}/{{ article.url }}">
{% if article.license %}
<meta itemprop="license" content="{{ article.license_url }}">
{% else %}
<meta itemprop="license" content="http://creativecommons.org/licenses/by-sa/4.0/">
{% endif %}
{% endblock %}
{% block content %}
<section id="content" class="body">
	<div class="card {{ARTICLE_BACKGROUND}} {{ARTICLE_BACKGROUND_DECORATOR}} z-depth-2">
        <div class="card-content white-text flow-text">
            <span class="card-title white-text">
                <h4 class="white-text"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="到 {{ article.title|striptags }}的固定链接" class="white-text">{{ article.title }}</a></h4>
            </span>
            <i class="material-icons md-18">date_range</i>
            {{ article.locale_date }}
            {% for author in article.authors %}
            <a class="white-text" href="{{ SITEURL }}/{{ author.url }}"><i class="material-icons md-18">account_box</i> {{ author }}&nbsp;&nbsp;</a>
            {% endfor %}
            {% if article.category != 'Misc' %}
            <i class="material-icons md-18">dashboard</i><a class="white-text" href="{{ SITEURL }}/{{ article.category.url }}"> {{ article.category.name }}&nbsp;&nbsp;</a>
            {% endif %}
            {% if article.tags %}
            <br />
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">
            <div class="chip {{MAIN_COLOR}} accent-4 white-text">
                 {{ tag.name }}
             </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
        {% if article.modified or article.summary %}
        <div class="card-content {{SECOND_COLOR}} {{SECOND_COLOR_DECORATOR}}" id="summary">
            {% if article.modified %}
            <blockquote>
                这篇文章在{{ article.locale_modified }}更新了呐~
            </blockquote>
            {% endif %}
        </div>
        {% endif %}
      </div>
      <hr class="{{ ARTICLE_BACKGROUND }}-text" />
    
  <div class="entry-content text-accent" id="article-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
  <div class="entry-content jumbotron" id="source-content" style="display: none">
               <!-- <pre><code id="source-code">
               </code></pre> -->
  <div id="source-code"></div>
  </div>
</section>
<br />
<section class="noprint">
  {% if article.prev_article %}
      <a href="{{ SITEURL }}/{{ article.prev_article.url}}" class="waves-effect waves-light btn-large left">
          <i class="material-icons left md-48">keyboard_arrow_left</i> 上一篇文章:
          {{ article.prev_article.title }}
      </a>
  {% endif %}
  {% if article.next_article %}
      <a href="{{ SITEURL }}/{{ article.next_article.url}}" class="waves-effect waves-light btn-large right">
          <i class="material-icons right md-48">keyboard_arrow_right</i> 下一篇文章:
          {{ article.next_article.title }}
      </a>
  {% endif %}
  <div class="padding10 clear-float"></div>
  <hr />
{% if article.series %}
<ul class="collection with-header">
  <li class="collection-header {{MAIN_COLOR}} {{MAIN_COLOR_DECORATOR}} white-text">
      <h5>系列"{{ article.series.name }}"中的文章</h5>
  </li>
  {% for part_article in article.series.all %}
  <li class="collection-item">
      <a href='{{ SITEURL }}/{{ part_article.url }}'>
          {{ part_article.title }}
          {% if part_article == article %}
          <i class="material-icons right {{MAIN_COLOR}}-text {{MAIN_COLOR_DECORATOR}}">grade</i>
          {% endif %}
      </a>
  </li>
  {% endfor %}
</ul>
</section>
{% endif %}
<p>
想要表达对咱的支持的话，汝可以：
<ul>
    <li>把文章分享给汝的朋友让大家来看啦~</li>
    <li><a href="https://liker.land/civic?from={{ LIKER_ID }}">注册 Liker ID</a>，然后就能在下面给咱点赞了，当然<a href="https://liker.land/KenOokamiHoro/civic">能注册成为支持咱的赞赏公民</a>就更好啦。</li>
    <li>也可以来<a href="https://matters.news/@kenookamihoro"> Matters </a>和<a href="https://afdian.net/@KenOokamiHoro">爱发电</a>关注咱。</li>

</ul>
</p>
{% if LIKER_ID %}
<iframe scrolling="no" src="https://button.like.co/in/embed/{{ LIKER_ID }}/button?type=wp&amp;referrer={{ SITEURL }}/{{ article.url }}" frameborder="0"></iframe>
{% endif %}
{% set talk_item = article %}
{% include 'comment.html' with context  %}
{% endblock %}

{% block navbar %}
{{ super() }}
<li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header">
                <i class="material-icons left md-18">list</i>目录</a>
            <div class="collapsible-body">
                <ul class="truncate">
                    {{ article.toc }}
                </ul>
            </div>
        </li>
    </ul>
</li>
{% endblock %}

{% block sidebar %}
<li><a href="#talk"><i class="material-icons left md-18">format_quote</i>想说点啥？😆</a></li>
<li><a onclick="$.get('{{SITEURL}}/{{article.category.slug}}/{{article.slug}}.rst.html', function(data){$('#source-code').html(data)});$('#article-content').toggle();$('#source-content').toggle();">
    <i class="material-icons left md-18">attach_file</i>切换显示源代码</a></li>
{% endblock %}
