<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <link rel="search" type="application/html" href="/search.html" title="{{ SITENAME }}" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% if 'tipue_search' in PLUGINS %}
    <link href="{{ SITEURL}}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch.css" rel="stylesheet">
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#bf5a15">
    {% block metadata %}
    <meta property="og:site_name" content="{{ SITENAME }}">
    <meta property="og:type" content="website">
    <meta property="og:image" itemprop="image" content="{{ SITEURL }}{{ AUTHOR_IMG }}">
    {% endblock %}
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ SITEURL }}/theme/css/materialize.css" media="screen,projection" />
    <link href="{{ SITEURL }}/theme/css/pygment.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" media="print" href="{{ SITEURL }}/theme/css/print.css" />

    {% if not SIMPLE %}
    <link href="{{ SITEURL }}/theme/fonts/material-icons.css" media="all" rel="stylesheet" type="text/css" />
    {% else %}
    <link href="{{ SITEURL }}/theme/css/simple.css" rel="stylesheet">
    {% endif %}
    {% endblock head %}
    {% if not SIMPLE %}
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//matomo.yoitsu.moe/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
    {% endif %}
</head>

<body id="index">
    <div class="navbar-fixed">
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#"><i class="material-icons left">vertical_align_top</i>重新开始？🙃</a></li>
            {% block sidebar %}
            {% endblock sidebar %}
            {% block rss %}
            {% endblock %}
        </ul>
        <nav class="noprint hide-on-large-only">
            <div class="nav-wrapper {{ MAIN_COLOR }} {{ MAIN_COLOR_DECORATOR }}">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <a href="{{ SITEURL }}" class="brand-logo center"><small>&nbsp;&nbsp;{{ SITENAME }}</small></a>
                <ul class="right">
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                            <i class="material-icons right">more_vert</i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="show-on-large sidenav sidenav-fixed" id="mobile-demo">
            <li>
                <div class="user-view">
                    <div class="background {{MAIN_COLOR}} {{MAIN_COLOR_DECORATOR}}"></div>
                    <img class="circle" src="{{ SITEURL }}{{AUTHOR_IMG}}">
                    <span class="white-text name">{{AUTHOR}}</span>
                    <span class="white-text email">{{AUTHOR_DESC[0]}}</span>
                </div>
            </li>
            <li>
                <div class="search-wrapper">
                    <form action="/search.html">
                        <div class="input-field">
                            <input id="search" type="search" name="q" required>
                            <label for="search"><i class="material-icons">search</i></label>
                        </div>
                    </form>
                </div>
            </li>
            <li class="no-padding no-margin">
                <a href="/"><i class="material-icons">home</i> {{ SITENAME }} - 首页</a>
            </li>
            <li>
                <a href="https://blog.horo.moe/">
                    <i class="material-icons">chrome_reader_mode</i>约伊兹的萌狼乡手札 - Another
                </a>
            </li>
            <li>
                <a href="https://yoitsu.moe/@horo" rel="me">
                    <i class="material-icons">subject</i> Mastodon 
                </a>
            </li>
            {% if SITE_NOTICE %}
            <li><a href="#sitenotice"><i class="material-icons">feedback</i>站点通告和文章更新<span
                        class="badge">{{SITE_NOTICE_LENGTH}}</span></a></li>
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">
                            <i class="material-icons left">dashboard</i>分类</a>
                        <div class="collapsible-body">
                            <ul>
                                {% for cat, null in categories %}
                                <li {% if cat==category %} class="active" {% endif %}><a
                                        href="{{ SITEURL }}/{{ cat.url }}">{{
                                        cat }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            {% endif %}
            <li><a href="{{ SITEURL }}/archives.html"><i class="material-icons left">library_books</i>文章归档</a></li>
            <li>
                <div class="divider"></div>
            </li>
            {% block navbar %}
            {% endblock %}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"><i class="material-icons left">rss_feed</i>RSS 订阅</a>
            </li>
            <li><a href="{{ SITEURL }}/links.html"><i class="material-icons left">swap_horiz</i>
                    <ruby>
                        友人&nbsp;😄 <rp>(</rp>
                        <rt>食物😋</rt>
                        <rp>)</rp>
                    </ruby>
                </a></li>
        </ul>
    </div>
    <main>
        <div class="container">
            <div class="padding5 noprint site-description" style="clear:both;"></div>
            <div class="row">
                <!-- content -->
                <div class="col s12 m12 l12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block button %}
        {% endblock button %}
    </main>
    <footer class="page-footer {{MAIN_COLOR}} {{MAIN_COLOR_DECORATOR}}">
        <div class="footer-copyright">
            <div class="container">
                {{SITENAME}}基于<a href="http://materializecss.com/"> Materialize </a>和使用<del>人生苦短</del>的<a
                    href="http://python.org">
                    Python </a>制成的<a href="http://getpelican.com/"> Pelican </a>构建.<br />
                {% if SIMPLE %}
                可能遗留有部分明网资源，需要的话请自行屏蔽明网流量 😂 <br />
                {% endif %}
                {% if LICENSE %}
                <img alt="知识共享许可协议" style="border-width:1" src="{{ SITEURL }}{{LICENSE_IMG}}" />
                如果没特殊声明的话，咱以<a rel="license" href="//creativecommons.org/licenses/by-sa/4.0/deed.zh">知识共享 署名-相同方式共享
                    4.0协议</a>协议授权这里的文字内容，
                其它内容可能会用不同的协议授权呗~
                {% endif %}
            </div>
        </div>
    </footer>
    <script src="{{ SITEURL }}/theme/js/jquery-3.5.0.js"></script>
    <script src="{{ SITEURL }}/theme/js/materialize.js"></script>
    <script src="{{ SITEURL }}/theme/js/velocity.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/init.js"></script>
    {% block scripts %}
    {% endblock scripts %}
    {% if SITE_NOTICE %}
    <div id="sitenotice" class="modal">
        <div class="modal-content">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active">
                        <i class="material-icons">feedback</i>&nbsp;站点通告
                    </div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            {% for item in SITE_NOTICE %}
                            <li class="collection-item"><a href="">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">restore</i>&nbsp;文章更新</a>
                    </div>
                    <div class="collapsible-body">
                        <ul class="collection with-header">
                            {% for article in articles %}
                            {% if article.modified %}
                            <li class="collection-item">
                                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                    title="到 {{ article.title|striptags }}的固定链接">
                                    {{ article.title }}</a>
                                <br />&nbsp;更新于 {{ article.locale_modified }}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">我知道了 🤷</a>
        </div>
    </div>
    {% endif %}
    {% if DISPLAY_PAGES_ON_MENU %}
    <div id="pages" class="modal">
        <div class="modal-content">
            <h4><i class="material-icons">chrome_reader_mode</i>&nbsp;页面</h4>
            <ul class="collection with-header z-depth-1" id="pages">
                {% for p in pages %}
                {% if not p.display %}
                <li class="collection-item"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <h4><i class="material-icons">label</i>&nbsp;标签</h4>
            {% if TAG_CLOUD %}
            <ul class="tagcloud">
                {% for tag in tag_cloud %}
                <li class="tag-{{ tag.1 }} chip">
                    <a href="{{ SITEURL }}/{{ tag.0.url }}">
                        {{ tag.0 }}
                        {% if TAG_CLOUD_BADGE %}
                        <span class="badge">{{ tag.2 }}</span>
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endif %}
</body>

</html>
