{% if not SIMPLE %}
{% if IMPOSSIBLE %}
<del>然而评论的数量还没有评论框多</del>😂
<noscript>需要 JavaScript 来加载和发表评论 😂</noscript>
<ul id="tabs-swipe-demo" class="tabs tabs-fixed-width">
    <li class="tab col s3 white-text"><a class="active" href="#isso">ISSO</a></li>
    <li class="tab col s3 white-text"><a href="#disqus">Disqus</a></li>
    <li class="tab col s3 white-text"><a href="#v2mm">v2mm.tech</a></li>
</ul>
<div id="disqus" class="col s12">
    <p class="flow-text">
        需要连接到国际互联网以使用 Disqus 评论哦~ 😂
    </p>
    <div id="disqus_thread"></div>
    <script>
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://kenookamihoro.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
</div>
</div>
<div id="v2mm" class="col s12">
    <p class="flow-text">
        v2mm 评论框由 <a href="https://v2mm.tech">https://v2mm.tech</a> 提供 😂
    </p>
</div>
<div id="isso" class="col s12">
    <p class="flow-text">
        ISSO 评论实验中，估计唯一的优点是可以匿名 😂
    </p>
    <script data-isso="https://isso.yoitsu.moe/" src="https://isso.yoitsu.moe/js/embed.min.js"></script>

    <section id="isso-thread" data-title="{{ talk_item.title }}" data-isso-id="{{ talk_item.slug }}"></section>
</div>
{% else %}
<div id="isso" class="col s12">
    <p class="flow-text">
        需要 JavaScript 支持来使用 Isso 😂
    </p>
    <script data-isso="https://isso.yoitsu.moe/" src="https://isso.yoitsu.moe/js/embed.min.js"></script>

    <section id="isso-thread" data-title="{{ talk_item.title }}" data-isso-id="{{ talk_item.slug }}"></section>
</div>
{% endif %}
{% else %}
<div id="isso" class="col s12">
    <p class="flow-text">
        需要 JavaScript 支持来使用 Isso 😂
    </p>
    <script data-isso="http://vwa5tknnfphzef2n.onion/" src="http://vwa5tknnfphzef2n.onion/js/embed.min.js"></script>

    <section id="isso-thread" data-title="{{ talk_item.title }}" data-isso-id="{{ talk_item.slug }}"></section>
</div>
{% endif %}