{% extends "base.html" %}
{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock title %}
{% block metadata %}
{{ super() }}
<meta property="og:title" itemprop="name" content="{{ page.title }} - {{ SITENAME }}">
<meta property="og:description" itemprop="description" content="{{ METADATA_DESC }}">
<meta property="og:url" itemprop="url" content="{{ SITEURL }}/{{ page.url }}">
{% if page.license %}
<meta itemprop="license" content="{{ page.license_url }}">
{% else %}
<meta itemprop="license" content="http://creativecommons.org/licenses/by-sa/4.0/">
{% endif %}
{% endblock %}
{% block content %}
<section id="content" class="body">
    {% include 'page_title.html' %}
  <div class="entry-content text-accent" id="article-content">
    {{ page.content }}
  </div><!-- /.entry-content -->
  <div class="entry-content jumbotron" id="source-content" style="display: none">
               <!-- <pre><code id="source-code">
               </code></pre> -->
               <div id="source-code"></div>
  </div>
</section>
<div class="padding10 clear-float"></div>
{% set talk_item = page %}
{% include 'comment.html' with context  %}

{% endblock %}

{% block navbar %}
{{ super() }}
{% if page.toc %}
<li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header">
                <i class="material-icons left md-18">list</i>目录</a>
            <div class="collapsible-body">
                <ul class="truncate">
                    {{ page.toc }}
                </ul>
            </div>
        </li>
    </ul>
</li>
{% endif %}
{% endblock %}

{% block sidebar %}
<li><a href="#talk"><i class="material-icons left md-18">format_quote</i>想说点啥？😆</a></li>
<li><a onclick="$.get('{{SITEURL}}``/{{page.slug}}.rst.html', function(data){$('#source-code').html(data)});$('#article-content').toggle();$('#source-content').toggle();">
    <i class="material-icons left md-18">attach_file</i>切换显示源代码</a></li>
{% endblock %}
