<div class="card {{ARTICLE_BACKGROUND}} {{ARTICLE_BACKGROUND_DECORATOR}} z-depth-2">
    <div class="card-content white-text flow-text">
        <span class="card-title white-text">
            <h4 class="white-text"><a href="{{ SITEURL }}/{{ pageurl }}" rel="bookmark" title="到 {{ page.title|striptags }}的固定链接" class="white-text">{{ page.title }}</a></h4>
        </span>
        <i class="material-icons md-18">date_range</i>
        {{ page.locale_date }}
    </div>
    {% if page.modified %}
    <div class="card-content {{SECOND_COLOR}} {{SECOND_COLOR_DECORATOR}}" id="summary">
        {% if page.modified %}
        <blockquote>
            这篇文章在{{ page.locale_modified }}更新了呐~
        </blockquote>
        {% endif %}
    </div>
    {% endif %}
  </div>
  <hr class="{{ ARTICLE_BACKGROUND }}-text" />
