{% extends 'base.html' %}

{% block title %}
搜索 - {{ super() }}
{% endblock title %}

{% block scripts %}
    <link href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css" rel="stylesheet">
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.js"></script>
    <script>
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
        'mode' : 'json',
        'show': 10,
        'newWindow': false,
        'contentLocation': 'tipuesearch_content.json'
      });
    });
    </script>
{% endblock scripts %}

{% block content %}
<div class="search-bar" style="display:None">
    <form id="searchform" action="/search.html" onsubmit="return(this.elements['q'].value.length>0)">
        <input id="tipue_search_input" type="text" name="q" placeholder="Search...">
    </form>
</div>
<section id="content" class="well">
<div id="tipue_search_content"></div>
</section>
{% endblock content%}
